[submodule "loadlibrary"]
	path = loadlibrary
	url = https://github.com/v-p-b/loadlibrary
[submodule "afl-pin"]
	path = afl-pin
	url = https://github.com/v-p-b/afl-pin.git
[submodule "afl"]
	path = afl
	url = https://github.com/mirrorer/afl
